{% extends 'index.html' %}
{% block categoryurl %}class="active"{% endblock %}
{% block content %}

<div class="container">
    <a href="/ecom-admin/category" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Go Back</a>
    <h2>Edit category if you want to...</h2>
	<form method="POST" action="/ecom-admin/category/edited/" onsubmit="return successMsg()">
        {% csrf_token %}
        <div class="form-group">
            <label for="id1">Category Name:</label>
            <input id="id1" type="text" class="form-control" name="id" value="{{cat.0}}" readonly>
	    </div>
        <div class="form-group">
            <label for="cat1">Category Name:</label>
            <input id="cat1" type="text" class="form-control" name="category" value="{{cat.1}}" required>
	    </div>
        <button type="submit" class="btn btn-primary">Edit Category</button>
	</form>
</div>
<script type="text/javascript">
    function successMsg()
    {
        var cat = document.getElementById("cat1").value;
        if( cat.trim().length > 1 && cat.trim().length < 41 )
        {
            cat = cat.trim();
            document.getElementById("cat1").value = cat;
            alert("1 category updated.");
            return true;
        }
        else
        {
            alert("Enter data properly.");
            return false;
        }
    }
</script>
{% endblock %}